@model StudentApp.Models.Attendance
@{ ViewData["Title"] = "Sil"; }
<h1>Sil</h1>
<h3>Bu kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Devamsızlık Kaydı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Tarih</dt>
        <dd class = "col-sm-10">@Model.Date.ToString("dd.MM.yyyy HH:mm")</dd>
        <dt class = "col-sm-2">Durum</dt>
        <dd class = "col-sm-10">@Model.Status</dd>
        <dt class = "col-sm-2">Öğrenci Adı</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Student.FullName)</dd>
        <dt class = "col-sm-2">Veli E-Posta</dt> @* DÜZELTİLDİ *@
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Student.ParentEmail)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>